._pt-present-condition .dropdownsearch-input:not(.has-items):before,._pt-add-allergies .dropdownsearch-input:not(.has-items):before, ._pt-add-habits .dropdownsearch-input:not(.has-items):before, ._pt-add-Exercise .dropdownsearch-input:not(.has-items):before, ._pt-add-Eating-Preference .dropdownsearch-input:not(.has-items):before, ._pt-add-Working-hours .dropdownsearch-input:not(.has-items):before, ._pt-add-Night-sleep-time .dropdownsearch-input:not(.has-items):before, ._pt-add-Afternoon-sleep-time .dropdownsearch-input:not(.has-items):before, ._pt-add-Diseases .dropdownsearch-input:not(.has-items):before, ._pt-add-Allergy .dropdownsearch-input:not(.has-items):before {
    color: #B9B8B9;
    font-style: italics;
}


._pt-present-condition .dropdownsearch-input:not(.has-items):before {
    content:"Add Condition";
}

._pt-add-allergies .dropdownsearch-input:not(.has-items):before {
    content:"Add Allergies";
}

._pt-add-habits .dropdownsearch-input:not(.has-items):before {
    content:"Add Habits";
}

._pt-add-Exercise .dropdownsearch-input:not(.has-items):before {
    content:"Add Exercise";
}

._pt-add-Eating-Preference .dropdownsearch-input:not(.has-items):before {
    content:" Add Eating Preferences";
}

._pt-add-Working-hours .dropdownsearch-input:not(.has-items):before {
    content:" Add Working Hours";
}

._pt-add-Night-sleep-time .dropdownsearch-input:not(.has-items):before {
    content:" Add Night Sleep Time";
}

._pt-add-Afternoon-sleep-time .dropdownsearch-input:not(.has-items):before {
    content:" Add Afternoon Sleep Time";
}

._pt-add-Diseases .dropdownsearch-input:not(.has-items):before {
    content:" Add Diseases";
}

._pt-add-Allergy .dropdownsearch-input:not(.has-items):before {
    content:" Add Allergy";
}

._pt-add-Current-medication .dropdownsearch-input:not(.has-items):before {
    content:" Add medications";
}



