body{
	font-family: Arial,sans-serif;
	background-color: #E8ECE7;
}

a{
	color:#000;
}

a:hover{
	color:#000;
	text-decoration: none;
}

*:focus {
    outline: 0;
  }

.emltdp-login-parent{
	padding: 55px 15px;
}

.emltdp-login-intro{
	padding: 19px 35px 0px 0px;
}

.emltdp-login-intro h1{
	font-family: 'myriadproregular';
	font-size: 18px;
	color: #325360;
	text-align: right;
	padding-bottom: 59px;
	line-height: 42px;
	margin-top: 0;
}

.emltdp-login-intro .col-xs-4 div:first-child{
	text-align: center;
}

.emltdp-login-intro .col-xs-4 div:last-child{
	font-family: 'myriadproregular';
	color: #465f6b;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	line-height: 16px;
}

.emltdp-login-form{
	background-color: #fff;
	padding: 27px 20px 40px 20px;
}

.emltdp-login-form h1{
	color: #325360;
	font-family: 'droid_sansregular';
	font-size: 24px;
	border-bottom: 1px solid #B0B6BC;
	padding-bottom: 30px;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 0;
}

.emltdp-login-form input[type="text"], .emltdp-login-form input[type="password"]{  
   	border: 1px solid #CECDCD;
	border-top-width: 2px;
	height: 40px;
	width: 100%;
	padding: 3px 3px 3px 10px;
	color:#000;
	font-family: 'Arial';
	background: #FFFFFF;
    background: linear-gradient(#FAFAFA, #FFFFFF); /* Standard syntax */
	margin-bottom: 15px;
   	font-style: italic;
   	color:#B6B6B6;
   	opacity: 1;
}


.search-user-class{
 	margin-left:30%;
 }
		 
 .emltdp-status-post input[type="button"]{
    border: none;
    color: #fff;
    background-color: #325360;
    width: 75%;
    font-family: 'myriadproregular';
    font-size: 14px;
    padding: 13px 0;
 }

 .emltdp-login-form input[type="button"] {
    border: none;
    color: #fff;
    background-color: #325360;
    width: 100%;
    font-family: 'myriadproregular';
    font-size: 14px;
    padding: 13px 0;
    margin: 10px 0;
}


.emltdp-login-form label{
	color: #b6b6b6;
	font-family: 'myriadproregular';
	font-size: 15px;
	font-weight: normal;
	margin-left: 5px;
}

.emltdp-login-form input[type="submit"]{
	border: none;
	color:#fff;
	background-color: #325360;
	width: 100%;
	font-family: 'myriadproregular';
	font-size: 14px;
	padding: 13px 0;
	margin: 10px 0;
}

.emltdp-login-form-help .col-xs-6 a{
	font-size: 12px;
	color: #325360;
	font-family: 'droid_sansregular';
}


.emltdp_error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.emltdp-common-error-form .error{
	border: 1px solid #F00 !important;
}

.emltdp-common-error-form label.error{
	color: #C00;
	font-size: 12px;
	font-family: "droid_sansregular";
	border:none !important;
	font-weight: normal;
	background: none;
}	




.emltdp-rc-messages-sheader{
	width:70%;
	background-color: rgba(66, 139, 202, 0.19);
	border-top: 1px solid #09753C;
	padding: 17px 0;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.06);
	font-family: 'droid_sansregular';
	margin-bottom: 20px;
	margin-left:15%;
}

.emltdp-rc-messages-sheader-controls{
	padding-left: 0;
}

.emltdp-rc-messages-sheader-controls span{
	display: inline-block;
	margin-right: 25px;
}

.emltdp-rc-messages-sheader-bt button{
	background-color: #2680bb;
	border: none;
	color: #fff;
	font-size: 14px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.70);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.70);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.70);
	padding: 6px 0;
	width: 148px;
}

.emltdp-rc-messages-sheader-ib, .emltdp-rc-messages-sheader-st{
	font-size: 16px;
	color: #000;
}

.emltdp-rc-messages-sheader-ib{
	font-weight: bold;
}

.emltdp-rc-messages-detail > .row{
	background-color: #fff;
	font-family: 'droid_sansregular';
	color: #5e5e5e;
	padding: 15px 0;
	background-color: #FFF;
	margin-bottom: 10px;
}

.emltdp-rc-messages-detail > .row:last-child{
	margin-bottom: 80px;
}	

.emltdp-rc-messages-detail-not-read{
	color: #000 !important;
	background-color: #ECF6EB !important;
	cursor: pointer;
}

.emltdp-rc-messages-detail-h{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

.emltdp-rc-messages-detail-d{
	font-size:12px;
	color: #777677;
	margin-bottom: 6px;
}

.emltdp-rc-messages-detail-not-read .emltdp-rc-messages-detail-d{
	color: #787878;
}

.emltdp-rc-messages-detail-p{
	
}

.emltdp-rc-messages-detail-p > p{
	font-size: 14px;
}

.emltdp-rc-messages-detail-p > p:last-child{
	margin-bottom: 0;
}

.emltdp-rc-messages-compose{
	background-color: #fff;
	margin-bottom: 10px;
	padding: 14px 0 1px 0;
}


.emltdp-rc-messages-compose textarea{
	height: 50px;
	margin-top: -10px;
	border: 1px solid #b0b0b1;
	background-color: #fbfcfc;
	padding: 4px 9px;
	color: #9b9b9b;
	font-size: 14px;
	font-family: arial;
	width:116%;
	margin-left:.5%;
}	

.emltdp-rc-messages-compose textarea::-webkit-input-placeholder {
   color: #9B9B9B;
   font-size: 14px;
   font-style: italic;
}

.emltdp-rc-messages-compose textarea:-moz-placeholder { /* Firefox 18- */
   color: #9B9B9B;  
   opacity: 1;
   font-size: 14px;
   font-style: italic;
}

.emltdp-rc-messages-compose textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #9B9B9B; 
   opacity: 1;
   font-size: 14px;
   font-style: italic;
}

.emltdp-rc-messages-compose textarea:-ms-input-placeholder {  
   color: #9B9B9B;
   font-size: 14px;
   font-style: italic;
}

.emltdp-rc-messages-compose-outer{
	background-color: #FBFCFC;
	height: 168px;
	padding: 10px;
	border: 1px solid #B6B6B6;
}

.emltdp-rc-messages-compose-inner{
	border: 2px dashed #B6B6B6;
	color: #B6B6B6;
	font-size: 16px;
	padding: 49px 0;
	font-family: 'droid_sansregular';
}

.emltdp-rc-messages-compose-control{
	margin-top: 8px;
}

.emltdp-rc-messages-compose-control button:first-child{
	margin-right: 2.5px;
}

.emltdp-rc-messages-compose-control button:last-child{
	margin-left: 2.5px;
}

.emltdp-rc-messages-compose select{
	border: 1px solid #b0b0b1;
	background-color: #fbfcfc;
	font-style: italic;
	padding: 5px;
	color: #9b9b9b;
	font-size: 14px;
	font-family: arial;
	width:100%;
}

.emltdp-rc-messages-compose-h{
	font-size: 16px;
	color: #000;
	font-family: 'droid_sansregular';
	font-weight: bold;
	margin-bottom: 8px;
}

.emltdp-rc-messages-open-h{
	color: #000;
}

.emltdp-rc-messages-open-reply{
	font-size: 16px;
	font-family: 'arial';
	font-size: 14px;
	color: #046C38;
}

.emltdp-rc-messages-open-reply span{
	cursor: pointer;
}

.emltdp-rc-messages-open-para p{
	color: #000;
	font-size: 14px;
}

.emltdp-rc-messages-open-para p:last-child{
	padding-bottom: 20px;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 20px;
}

.emltdp-rc-messages-open-doc-name{
	
}

.emltdp-rc-messages-dot{
	margin: 0 3px;
}

.emltdp-rc-messages-open-para-reply p{
	color: #025960;
}

.emltdp-rc-messages-open-para-last > p:last-child{
	border: none;
	padding: 0;
	margin-bottom: 5px;
}

.emltdp-rc-messages-detail .emltdp-rc-messages-reply{
	margin-top: 0;
	width: 100%;
	height: 124px;
}

.emltdp-rc-messages-reply-wrapper{
	display: none;
	margin:0;
	padding-top: 0;
}

.emltdp-rc-messages-reply-wrapper .col-xs-8, .compose-query-wrapper .col-xs-8{
	width: 705px;
	padding-right: 0;
}

.emltdp-rc-messages-reply-wrapper .col-xs-4, .compose-query-wrapper .col-xs-4{
	width: 255px;
}

.emltdp-rc-messages-reply-wrapper .emltdp-rc-messages-compose-outer{
	height: 124px;
}

.emltdp-rc-messages-reply-wrapper .emltdp-rc-messages-compose-inner {
	padding: 27px 0;
}	
